*
*/
!*/
!ft_strlen.s
!ft_strcpy.s
!ft_strcmp.s
!ft_write.s
!ft_read.s
!ft_strdup.s
!makefile
!main.c
!ft_atoi_base.s
!ft_list_push_flont.s
!ft_list_size.s
!ft_list_sort.s
!ft_list_remove_if.s

!.gitignore
!.editorconfig
